<div draggable="true">
    <mat-card class="task-card" draggable="">
        <mat-card-header>
            <mat-card-title>
                Limpar o cu do cachorro com cuidado
            </mat-card-title>
            <mat-card-subtitle>
                Usar lenço umidecido para limpar todo o cocô do cu do cachorro
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Data início: 20/08/2024</p>
            <p>Data fim: 21/08/2024</p>
        </mat-card-content>
    </mat-card>
</div>