<mat-dialog-content>
  <div class="d-flex justify-content-between">
    <h2>Acompanhamentos - {{ animal.name ?? animal.externalId }}</h2>
    <button mat-icon-button mat-dialog-close (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-3">
      <button mat-button color="primary" id="btnNewMonitoring" (click)="togglePanel()"><mat-icon>add</mat-icon> Novo Acompanhamento</button>
    </div>
    <div class="col-sm-12">
      <mat-expansion-panel [expanded]="panelOpenState">
        <form [formGroup]="monitoringForm">
          <div class="row mt-3">
            <mat-form-field class="col-sm-12 col-md-6 col-xl-4">
              <mat-label>Altura (m)</mat-label>
              <span matPrefix><mat-icon>height</mat-icon></span>
              <input matInput type="number" step="0.01" name="height" formControlName="height"/>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-6 col-xl-4">
              <mat-label>Peso (kg)</mat-label>
              <span matPrefix><mat-icon>scale</mat-icon></span>
              <input matInput type="number" step="0.01" name="weight" min="0" max="3000" formControlName="weight"/>
            </mat-form-field>
            <div class="col-sm-12 col-md-6 col-xl-4 d-flex align-items-center">
              <mat-checkbox color="primary" formControlName="dewormed">Vermifugado</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <button mat-flat-button color="primary" id="btnSaveMonitoring" class="d-flex col-sm-12 col-md-1 ms-auto" [disabled]="monitoringForm.invalid" (click)="onSubmit()">Salvar</button>
          </div>
        </form>
      </mat-expansion-panel>
    </div>
  </div>

  <div *ngIf="monitorings.length === 0; else dataBlock">
    <p style="text-align: center;">Nenhum acompanhamento encontrado.</p>
  </div>

  <ng-template #dataBlock>
    <div>
      <table mat-table [dataSource]="monitorings" class="mat-elevation-z8">
        <!-- Monitoring Date Column -->
        <ng-container matColumnDef="monitoringDate">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let monitoring">{{ monitoring.monitoringDate | date: "dd/MM/yyyy" }}</td>
        </ng-container>
  
        <!-- Monitoring Time Column -->
        <ng-container matColumnDef="monitoringTime">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let monitoring">{{ monitoring.monitoringDate | date: "HH:mm" }}</td>
        </ng-container>
  
        <!-- Height Column -->
        <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef>Altura</th>
          <td mat-cell *matCellDef="let monitoring">{{ monitoring.height.toFixed(2)+"m" }}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Peso</th>
          <td mat-cell *matCellDef="let monitoring">{{ monitoring.weight.toFixed(2)+"kg" }}</td>
        </ng-container>
  
        <!-- Dewormed Column -->
        <ng-container matColumnDef="dewormed">
          <th mat-header-cell *matHeaderCellDef>Vermifugado</th>
          <td mat-cell *matCellDef="let monitoring">
            <mat-checkbox [checked]="monitoring.dewormed" [disabled]="true"></mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

</mat-dialog-content>