mat-form-field {
    display: flex;
}

#login-view {
    min-height: 100vh;
    background-color: #303030;
}

.login-container {
    padding: 50px;
    border-top: solid 5px #4caf50;
    width: 400px;
    min-height: 380px;
}

#toastContainer {
    position: absolute;
    bottom: 450px;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 90vw;
    }
}