<mat-card class="animal-card">
    <mat-card-header class="d-flex">
        <img mat-card-avatar [src]="animalImageBase64 ?? '../../../assets/img/placeholder/placeholder-image.jpg'">
        <mat-card-title class="d-flex flex-row">
            <p class="m-0" style="white-space: nowrap">{{ animal.name ?? animal.externalId }}</p>
            <mat-icon>{{ animal.sex == 'M' ? 'male' : 'female' }}</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>{{ animal.breed.name }}</mat-card-subtitle>
        <button mat-icon-button class="ms-auto" (click)="openEditAnimalDialog()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="ms-1" (click)="openMonitoringsDialog()">
            <mat-icon>monitor_heart</mat-icon>
        </button>
        <button mat-icon-button class="ms-1" (click)="isCardContentCollapsed = !isCardContentCollapsed">
            <mat-icon>{{ isCardContentCollapsed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content *ngIf="!isCardContentCollapsed" [@inOutAnimation]>
        <div class="d-flex flex-row justify-content-center mt-3">   
            <div class="row">
                <div class="col-lg-12 col-xxl-6 d-flex flex-row">
                    <mat-icon class="me-1">calendar_month</mat-icon> 
                    <p>Data da aquisição: {{ animal.acquisitionDate | date : 'dd/MM/YYYY' }}</p>
                </div>
                <div class="col-lg-12 col-xxl-6 d-flex flex-row">
                    <mat-icon class="me-1">attach_money</mat-icon>
                    <p>Valor da aquisição: {{ animal.acquisitionValue | currency:'BRL':'symbol':'1.2-2'  }}</p>
                </div>
                <div class="col-lg-12 col-xxl-6 d-flex flex-row">
                    <mat-icon class="me-1">calendar_month</mat-icon>
                    <p>Data da venda: {{ animal.saleDate | date : 'dd/MM/YYYY' }}</p>
                </div>
                <div class="col-lg-12 col-xxl-6 d-flex flex-row">
                    <mat-icon class="me-1">sell</mat-icon>
                    <p>Valor da venda: {{ animal.saleValue | currency:'BRL':'symbol':'1.2-2' }}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>