@use "@angular/material" as mat;
@include mat.core();

$primary-color: mat.define-palette(mat.$green-palette);
$accent-color: mat.define-palette(mat.$grey-palette);
$warn-color: mat.define-palette(mat.$amber-palette);

.light-theme {
    $light-theme: mat.define-light-theme((color: (primary: $primary-color, accent: $accent-color, warn: $warn-color)));

    @include mat.all-component-themes($light-theme);
}

.dark-theme {
    $dark-theme: mat.define-dark-theme((color: (primary: $primary-color, accent: $accent-color, warn: $warn-color)));

    @include mat.all-component-themes($dark-theme);
}